<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:not_logged_in] %>
  <br/>
  <% if current_user %>
    <%= current_user.user_name %>
    <%= button_to 'Log Out', sessions_url, method: :delete %>
  <% else %>
    <%= link_to 'Log In', new_sessions_url %>
    <%= link_to 'Sign Up', new_user_url %>
  <% end %>

<%= yield %>

</body>
</html>
